language: node_js
node_js:
- node
cache:
  directories:
  - $(npm config get prefix)/lib/node_modules
before_script:
- npm install -g truffle solium
- npm install
script:
- solium -d contracts
- cp build/contracts/* src/web/contracts
- truffle test
- ./node_modules/.bin/solidity-coverage
- bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
